<% var data = { title: "Заголовок | Проект", author: "NZIV" }; %> <%=
_.template(require('./../includes/header.html').default)(data) %>

<div class="container">
  <!-- Latest Articles-->
  <section class="section bg-default section-md">
    <div class="container">
      <h2 class="title-icon">
        <span class="icon icon-default mercury-icon-news"></span
        ><span>Наши услуги</span>
      </h2>
      <div class="box-image-small box-image-small-left">
        <div
          class="item-image bg-image novi-nackground"
          style="background-image: url(img/index-1-2-586x334.jpg);"
        ></div>
        <div class="item-body wow fadeInRight">
          <p>July 12, 2020</p>
          <h4><a href="#">Оборудование</a></h4>
          <p class="big">
            If you’re like a majority of Americans, you may be looking for new,
            creative ways to ease your annual tax burden. Fortunately, there are
            several things you can do to cut your taxes or increase...
          </p>
        </div>
      </div>
      <div class="box-image-small box-image-small-right">
        <div
          class="item-image bg-image novi-nackground"
          style="background-image: url(img/index-1-3-580x334.jpg);"
        ></div>
        <div class="item-body wow fadeInLeft">
          <p>July 12, 2019</p>
          <h4><a href="#">Возможности</a></h4>
          <p class="big">
            In this post, we will discuss what a 1035 exchange is and how it
            helps you manage and preserve your wealth and finances. A 1035
            exchange is a specific transfer of funds from one life insurance
            policy...
          </p>
        </div>
      </div>
      <div class="box-image-small box-image-small-left">
        <div
          class="item-image bg-image novi-nackground"
          style="background-image: url(img/index-1-2-586x334.jpg);"
        ></div>
        <div class="item-body wow fadeInRight">
          <p>July 12, 2020</p>
          <h4><a href="#">Пример</a></h4>
          <p class="big">
            If you’re like a majority of Americans, you may be looking for new,
            creative ways to ease your annual tax burden. Fortunately, there are
            several things you can do to cut your taxes or increase...
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
